@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.menu{
    list-style: none;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    gap: 20px;
}
.menu-items{
    display: inline-block;
    position: relative;
    text-transform: capitalize;
   
}
.menu-items a{
    text-decoration: none;
    display: block;
    color: white;
}
.heading{
    background-image: url(/assets/image-hero.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding: 100px;
}
.heading_titleWrapper{
    justify-content: flex-start;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    max-width: 600px;
    padding: 2rem;
    margin-top: 80px;
}
.heading_title{
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;
}
.about{
    position: relative;
    /* padding: 100px; */
    padding:5rem 6rem 2.5rem 8rem;
    display: flex;
    justify-content: space-between;
}
.about_img{
    max-width: 700px;
}

.about-textWrapper{
    background-color: white;
    position: absolute;
    right: 6rem;
    bottom: 2.5rem;
    max-width: 45%;
    text-align: left;
    padding: 4rem 0 0 4rem;
    
}
.title{
    font: 2.5rem;
    /* width: 60%; */
    text-transform: uppercase;
    padding-bottom: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
    
}
 .description{
    font-size: 15px;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(84, 83, 82);
    
}
.creations{
    width: 100%;
    padding: 2.5rem 1.5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.creations_titleWrapper{
    padding: 0 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.creation_title{
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
}
.show_btn{
    
    text-decoration: none;
    border: 1px solid black;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    font-weight: bolder;
}
.show_btn:hover{
    background-color: black;
    color: white;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}


.cards_wrapper{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
   gap: 1.5rem;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
.cards{
    position: relative;
}
.card_img{
    /* position: relative; */
    width: 100%;
}
 .card_title{
    position: absolute;
    top: 20px;
    color: white;
}

@media (max-width: 768px) {
   
    .cards_wrapper{
        grid-template-columns: 1fr;
    }
}