body {
    padding: 0%;
    margin: 0%;
    font-family: 'Anton', sans-serif;
    font-family: 'Combo', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    
}
.the_body{
    background-image: url("/images/image-hero.jpg");
    width: 100%;
    height: 350px;
    background-size: cover;
    
}
.checkint i {
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.fa-bars{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    padding-bottom: 0px;
}
.logo{
    font-size: 25px;
    color: #fff;
}

ul {
    display: flex;
    justify-content: end;
    column-gap: 20px;

}

li {
    
    font-size: 12px;
    list-style: none;
     
}
li a {
    text-decoration: none;
    color: #fff;
}
li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    display: block;
    margin: auto;

}
li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}


.the_immersive_box{
    border: 2px solid #fff;
    height: 150px;
    width: 360px;
    margin-left: 90px;
    margin-top: 30px;
    
}
.the_text{
    color: #fff;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 38px;
    
}

.the_vr_picture{
    background-image: url("/images/image-interactive.jpg");
    background-size: cover;
    height: 450px;
    width: 600px;
    margin-top: 12%;
    margin-left: 11%;
    
    
}
.the_next_content_box{
    margin-top: 139px;
    margin-left: 500px;
    float: left;
    background-color: #fff;
    height: 311px;
    width: 400px;
    text-align: start;
    
}
.vr_headder{
    font-size: 40px;
    font-weight: 1;
    padding-top: 30px;
    padding-left: 60px;
    height: 120px;
}
.the_writeup{
    padding-left: 60px;
    font-size: 16px;
    color: rgb(163, 159, 159);
}
.our_creations{
    font-size: 30px;
    padding-top: 90px;
    padding-left: 105px;
    height: 70px;
}
.the_flex_between_our_creators_and_see_all{
    display: flex;
    justify-content: space-between;
}
.btn{
   background: none;
   border: 1px solid black;
   cursor: pointer;
   height: 30px;
   width: 90px;
   margin-right: 200px;
   margin-top: 110px;
   transition: color 0.4s linear;
}
.btn:hover{
    color: #fff;
    background-color: black;
}

.grid_ues_for_the_last_photo_album{
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 15px;
    margin-left: 20%;
}
.item{
    
    background-size: cover;
    color: #fff;
    padding-top: 130%;
    padding-left: 30px;
    padding-right: 40px;
    font-size: 25px;
    
    
}
.item1{
    background-image: url("/images/image-deep-earth.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 
}
.item1:hover{
    opacity: .6;
    color: rgb(175, 171, 171);
    
}
.item2{
    background-image: url("/images/image-night-arcade.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 
}

.item2:hover{
    opacity: .6;
    color: black;
    
}
.item3{
    background-image: url("/images/image-soccer-team.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 
}
.item3:hover{
    background-blend-mode: hue;
    background-color: rgba(255, 255, 255, 0.644);
    color: black;
    
}
.item4{
    background-image: url("images/image-grid.jpg");
    padding-left: 30px;
    padding-right: 70px; 
    cursor: pointer;
    transition: color 0.4s linear;   
}
.item4:hover{
    opacity: .6;
    color: black;
    
}
.item5{
    background-image: url("/images/image-from-above.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 
}
.item5:hover{
    opacity: .6;
    color: black;
    
}
.item6{
    background-image: url("/images/image-pocket-borealis.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 
}
.item6:hover{
    opacity: .6;
    color: rgb(214, 209, 209);
    
}
.item7{
    background-image: url("/images/image-curiosity.jpg");
    cursor: pointer;
    transition: color 0.4s linear; 

}
.item7:hover{
    opacity: .6;
    color: black;
    
}
.item8{
    background-image: url("/images/image-fisheye.jpg");
    cursor: pointer;
    transition: color 0.4s linear;
}
.item8:hover{
    opacity: .6;
    color: black;
    
}
.the_last_section{
    background-color: black;
    margin-top: 90px;
    width: 100%;
    height: 130px;
    color: #fff;   
}

.the_second_headder{
    padding-top: 30px;
    padding-left: 90px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;   
    display: flex;
}

.the_facebook_logo {
    background-image: url("/images/facebook.png");
    background-size: contain;
    border-radius: 10px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 70%;  
}
.the_facebook_logo::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.the_facebook_logo:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.the_twitter_logo{
    background-image: url("/images/twitter.png");
    background-size: cover;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    margin-left: 10px; 
    
}
.the_twitter_logo::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.the_twitter_logo:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}
.the_pintrest_logo{
    background-image: url("/images/pinterest.png");
    background-size: cover;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    margin-left: 10px; 
}
.the_pintrest_logo::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.the_pintrest_logo:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.the_instagram_logo{
    background-image: url("/images/instagram.png");
    background-size: cover;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    margin-left: 10px;  
}
.the_instagram_logo::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.the_instagram_logo:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}
.the_final_headder1{
    font-size: 13px;
    padding-top: 20px;
    padding-left: 90px;
}
.the_final_headder2{
    padding-left: 10px;
}
footer {
    display: flex;
    justify-content: end;
    justify-content: space-between;
    padding-left: 50px;
}

footer ul li {
    
    font-size: 12px;
    list-style: none;
    column-gap: 20px;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
}
footer ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
}
footer ul li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}
.the_copuration{
    font-size: 12px;
    padding-top: 20px;
    padding-right: 120px;
    color: rgb(133, 130, 130);
}
@media screen and (max-width: 768px){
    body {
        overflow-y: scroll;
        padding: 0;
        margin: 0;
    }
    .logo{
        margin-top: 40px;
        color: black;
    }
    /* .logo:hover + nav{
        
        display: block;
    } */
    .checkbtn{
        display: block;
        margin-right: 15px;
    }
    nav {
        display: none;
    }
    nav ul {
        position: fixed;
        left: 0;
        background-color: red;
        width: 100% ;
        height: 100vh;
        transition:ease-in 1s;
        -webkit-transition: ease-in 1s;
        -moz-transition: ease-in 1s;
        -ms-transition:ease-in 1s;
        -o-transition: ease-in 1s;
    }
    nav ul li {
        display: block;
        
        text-align: center;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover {
        background-color: blue;
    }
    #check:checked~ul{
        left: 0;
        top: 60px;
    }
    .the_body{
        background-image: url("/images/image-hero.jpg");
        width: 100%;
        height:450px;
        padding-top: 30px;
        background-size: cover;
        
    }
    .the_immersive_box{
        margin-top: 200px;
        border: 2px solid #fff;
        height: 150px;
        width: 360px;
        
       
        
    }
    .the_text{
        color: #fff;
        margin-top: 10px;
        margin-left: 30px;
        font-size: 38px;
        
    }
    .the_second_layer{
        display: flex;
        flex-direction: column;
        
        
    }
    .the_vr_picture{
        background-image: url("/images/image-interactive.jpg");
        background-size: cover;
        height: 350px;
        width: 310px;
        margin-top: 12%;
        margin-left: 10px;
    }
    .the_next_content_box{
        float: none;
        background-color: #fff;
        height: 311px;
        width: 200px;
        margin-left: 3px;
        text-align: start;
    }
    .grid_ues_for_the_last_photo_album{
        display: grid;
        grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px;
        grid-template-columns: 100% ;
        gap: 15px;
        
    }
    .item{
        
        background-size: cover;
        color: #fff;
        padding-top: 130%;
       
        
        font-size: 25px;
        
        
    }


} 